{% extends 'layout.html' %}
{% load static %}

{% block pageData %}

    <main id="content">
        <div class="bg-gray-1100 dark">
            <div class="container px-md-5">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb dark font-size-1">
                        <li class="breadcrumb-item"><a
                                href="{% url 'index' %}"
                                class="text-gray-1300">Home</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Change Password</li>
                    </ol>
                </nav>
                <div class="row">
                    <div class="col-lg">
                        <section>
                            <div class="mb-4">
                                <div class="home-section mb-5">
                                    <header class="d-md-flex align-items-center justify-content-between mb-3 mb-lg-1 pb-2 w-100 border-bottom border-gray-3900">
                                        <h3 class="d-block position-relative font-size-30 font-weight-medium overflow-md-hidden m-0 text-white">
                                            Change Password</h3>
                                    </header>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8 offset-md-2">
                                    <form method="post">
                                        <div class="form-group">
                                            <label for="email" class="text-white">Your Email</label>
                                            <input type="text" name="email" value="{{ request.session.visitor.email }}" readonly id="email" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="oldpass" class="text-white">Enter Old Password</label>
                                            <input type="password" name="oldpass" id="oldpass" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="newpass" class="text-white">Enter New Password</label>
                                            <input type="password" name="newpass" id="newpass" class="form-control">
                                        </div>
                                        <div class="form-group text-center">
                                            <input type="button" value="Submit" onclick="changePass()" class="btn btn-outline-dark-primary w-25">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>
        <script src="/static/myjs/getGenres.js">
        </script>
    <script>
        window.onload = getGenres();

        function getGenres() {
            var htpx = new XMLHttpRequest()
            htpx.onreadystatechange = function () {
                if (this.status == 200 && this.readyState == 4) {
                    var output = JSON.parse(this.response);
                    console.log(output);
                    s = "";
                    for (var i = 0; i < output.length; i++) {
                        s += `<li class="py-1"><a class="h-b-primary  py-1 font-size-14"
                         href="/movies/${output[i].id}">${output[i].name}</a>
                                                        </li>`
                    }
                    s += `<li class="py-1"><a class="h-b-primary  py-1 font-size-14"
                         href="movies">All Movies</a>
                                                        </li>`
                    document.getElementById('movieGenre').innerHTML = s;
                }
            }
            htpx.open('GET', '/getGenres', true)
            htpx.send()
        }

    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
    function changePass() {
        var email = document.getElementById('email').value;
        var oldpass = document.getElementById('oldpass').value;
        var newpass = document.getElementById('newpass').value;

        var formdata = new FormData()
        formdata.append('email', email)
        formdata.append('oldpass', oldpass)
        formdata.append('newpass', newpass)

        var htp = new XMLHttpRequest()
        htp.onreadystatechange = function () {
            if (this.status == 200 && this.readyState == 4){
                if (this.response == 'success'){
                    Swal.fire({
                      icon: 'success',
                      title: 'Hey...',
                      text: 'Your Password has been Changed Please Login Again..',
                        confirmButtonText: 'Ok',
                    }).then((result)=>{
                        if (result.isConfirmed){
                            window.location.href = '/userLogout'
                        }
                    })
                    {#window.location.href = '/userLogout'#}
                }else{
                    Swal.fire({
                      icon: 'error',
                      title: 'Oops...',
                      text: this.response,
                    })
                }
            }
        }
        htp.open('POST', '/changeUserPass', true)
        htp.send(formdata)
    }
    </script>
{% endblock %}

