{% extends 'layout.html' %}
{% load static %}

{% block pageData %}

    <main id="content">
        <div class="bg-gray-1100 space-bottom-2 space-bottom-lg-3">
            <div class="container px-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb dark font-size-1">
                        <li class="breadcrumb-item"><a
                                href="{% url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="/movies" class="text-gray-1300">Movie</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">{{ movie.name }}</li>
                    </ol>
                </nav>
            </div>
            <section>
                <div class="container px-md-6">
                    <div class="row">
                        <div class="col-md-3">
                            <div>
                                <img class="img-fluid" src="/static/media/{{ movie.poster }}" alt="Image-Description">
                            </div>
                            <div class="bg-gray-3100">
                                <div>
                                    <ul class="list-unstyled">
                                        <li class="border-bottom border-gray-3200">
                                            <div class="p-4">
                                                <a class="d-block mt-1" href="#">
                                                    <img class="img-fluid" src="/static/assets/img/200x40/img1.png"
                                                         alt="Image-Description">
                                                </a>
                                            </div>
                                        </li>
                                        <li class="border-bottom border-gray-3200">
                                            <div class="p-4">
                                                <a class="d-block mt-1" href="#">
                                                    <img class="img-fluid" src="/static/assets/img/200x40/img2.png"
                                                         alt="Image-Description">
                                                </a>
                                            </div>
                                        </li>
                                        <li class="border-bottom border-gray-3200">
                                            <div class="p-4">
                                                <a class="d-block mt-1" href="#">
                                                    <img class="img-fluid" src="/static/assets/img/200x40/img3.png"
                                                         alt="Image-Description">
                                                </a>
                                                <p id="movieID">{{ movie.id }}</p>
                                            </div>
                                        </li>
                                        <li class="border-bottom border-gray-3200">
                                            <div class="p-4">
                                                <a class="d-block mt-1" href="#">
                                                    <img class="img-fluid" src="/static/assets/img/200x40/img4.png"
                                                         alt="Image-Description">
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="pl-md-2 pt-4">
                                <div class="row border-bottom border-gray-5600 space-bottom-2 no-gutters mb-4">
                                    <div class="col-md-7 col-lg">
                                        <div class="mb-5 mb-md-0">
                                            <h6 class="font-size-36 text-white mb-4 pb-1">{{ movie.name }}</h6>
                                            <div class="d-flex align-items-center mb-5">
                                                <div class="d-flex">
                                                    <div>
                                                        <i class="fas fa-star text-primary font-size-42"></i>
                                                    </div>
                                                    <div class="text-lh-1 ml-1">
                                                        <div class="text-primary font-size-24 font-weight-semi-bold">
                                                            8.5
                                                        </div>
                                                        <span class="text-gray-1300 font-size-12">2 Votes</span>
                                                    </div>
                                                </div>
                                                {#                                                <div class="d-flex align-items-center ml-6 text-gray-1300">#}
                                                {#                                                    <div>#}
                                                {#                                                        <i class="far fa-grin-hearts font-size-30"></i>#}
                                                {#                                                    </div>#}
                                                {#                                                    <a href="#" class="text-gray-1300 ml-2">+ Playlist</a>#}
                                                {#                                                </div>#}
                                            </div>
                                            <ul class="list-unstyled nav nav-meta font-secondary mb-3 pb-1 flex-nowrap flex-lg-wrap overflow-auto overflow-lg-hidden">
                                                <li class="text-white flex-shrink-0 flex-shrink-lg-1">{{ movie.release_date }}</li>
                                                <li class="text-white flex-shrink-0 flex-shrink-lg-1">
                                                    <a href="#" class="text-white">{{ movie.genres.all|join:',' }}</a>
                                                </li>
                                            </ul>
                                            <p class="text-gray-5500 font-size-16 mb-5 pb-1 text-lh-md">{{ movie.overview }}</p>
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <h6 class="font-size-15 mb-0">
                                                        <a href="#" class="text-white">{{ movie.director }}</a>
                                                    </h6>
                                                    <span class="text-white font-size-13">Director</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-lg-auto">
                                        <div class="pl-md-3">
                                            <div class="d-flex flex-column">
                                                {#                                                <a href="#"#}
                                                {#                                                   class="btn btn-primary d-flex align-items-center justify-content-center w-lg-220rem h-52rem mb-3"#}
                                                {#                                                   tabindex="0">WATCH NOW</a>#}
                                                {#                                                <a href="#"#}
                                                {#                                                   class="btn btn-primary d-flex align-items-center justify-content-center  w-lg-220rem h-52rem mb-3"#}
                                                {#                                                   tabindex="0">Buy Tickets</a>#}
                                                <a href="javascript:void(0)" onclick="addToWatclist({{ movie.id }})"
                                                   class="btn btn-outline-light d-flex align-items-center justify-content-center  w-lg-220rem h-52rem"
                                                   tabindex="0">+ WATCHLIST</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-6 mb-lg-8">
                                    <div class="font-size-26 text-gray-5500 mb-3 pb-1">You Also May Like</div>
                                    <div class="row row-cols-1 row-cols-md-3 row-cols-xl-6 mx-n2 dark">
                                        {% for i in all_movies %}
                                            <div class="col-xl px-2">
                                                <div class="product mb-5 mb-xl-0">
                                                    <div class="product-image mb-2">
                                                        <a href="/moviesdetails/{{ i.id }}"
                                                           class="d-inline-block position-relative stretched-link">
                                                            <img class="img-fluid"
                                                                 src="/static/media/{{ i.poster }}"
                                                                 alt="Image Description">
                                                        </a>
                                                    </div>
                                                    <div class="product-meta font-size-12 mb-1">
                                                    <span><a href="#"
                                                             class="h-g-primary">{{ i.release_date }}</a></span>
                                                    </div>
                                                    <div class="product-title font-weight-bold font-size-1"><a
                                                            href="/moviesdetails/{{ i.id }}">{{ i.name }}</a></div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="mb-6">
                                    <div>
                                        <div class="font-size-26 text-white mb-2 pb-1">Crew & Casts</div>
                                        <ul class="nav tab-nav__v12 mb-4" id="pills-tab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link d-inline-block font-size-1 font-weight-semi-bold active"
                                                   id="pills-one-example1-tab" data-toggle="pill"
                                                   href="#pills-one-example1" role="tab"
                                                   aria-controls="pills-one-example1" aria-selected="true">cast</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="pills-one-example1" role="tabpanel"
                                             aria-labelledby="pills-one-example1-tab">
                                            {% for j in movie.cast.all %}
                                                <div class="row align-items-center overflow-auto overflow-md-auto border-bottom border-gray-5600 no-gutters">
                                                    <div class="col-6 offset-2 offset-md-1">
                                                        <h6 class="font-size-19 font-weight-medium mb-0"
                                                            style="margin: 20px 0px">
                                                            <a href="#">{{ j }}</a>
                                                        </h6>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-6">
                                    <span class="font-size-26 text-gray-5500 mb-3 pb-1">User Reviews
                                    </span>
                                    {% if request.session.visitor %}
                                        <a href="javascript:;" data-toggle="modal"
                                           data-target="#reviewModal"><i
                                                class="fas fa-plus-square text-gray-5700 font-size-30-r"></i></a>
                                    {% endif %} <br><br>
                                    <div id="reviews">
                                    </div>
                                </div>
                                <div>
                                    {#                                    <div class="home-section">#}
                                    {#                                        <header class="d-md-flex align-items-center justify-content-between mb-3 pb-1 w-100">#}
                                    {#                                            <h6 class="section-title-dark d-block position-relative font-size-18 font-weight-medium overflow-md-hidden m-0 text-white flex-grow-1">#}
                                    {#                                                Add a review</h6>#}
                                    {#                                        </header>#}
                                    {#                                    </div>#}
                                    {% if not request.session.visitor %}
                                        <div class="text-gray-1300">You must be
                                            <a href="#">logged in</a> to post a review.
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <button type="button" class="close position-absolute top-0 right-0 z-index-2 mt-3 mr-3"
                        data-dismiss="modal"
                        aria-label="Close">
                    <svg aria-hidden="true" class="mb-0" width="14" height="14" viewBox="0 0 18 18"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill="currentColor"
                              d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
                    </svg>
                </button>

                <div class="modal-body">
                    <div class="js-validate">

                        <div id="login">

                            <div class="text-center mb-7">
                                <h3 class="mb-0">{{ movie.name }}</h3>
                                <p>Post a Review on {{ movie.name }}</p>
                            </div>
                            <form id="reviewForm">
                                {% csrf_token %}

                                <div class="js-form-message mb-4">
                                    <label class="input-label">Title</label>
                                    <div class="input-group input-group-sm mb-2">
                                        <input type="text" class="form-control" name="title" id="title"
                                               placeholder="Title" aria-label="Title" required
                                               data-msg="Please enter a Title">
                                    </div>
                                </div>

                                <input type="hidden" name="movieID" value="{{ movie.id }}">
                                <div class="js-form-message mb-3">
                                    <label class="input-label">Description</label>
                                    <div class="input-group input-group-sm mb-2">
                                        <textarea name="desc" id="desc" cols="30" rows="10" class="form-control"
                                                  placeholder="Description" required aria-label="Description"
                                                  data-msg="Please enter a description"></textarea>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <button type="submit" class="btn btn-sm btn-primary btn-block">Post Review</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        window.onload = getGenres();

        function getGenres() {
            var htpx = new XMLHttpRequest()
            htpx.onreadystatechange = function () {
                if (this.status == 200 && this.readyState == 4) {
                    var output = JSON.parse(this.response);
                    console.log(output);
                    s = "";
                    for (var i = 0; i < output.length; i++) {
                        s += `<li class="py-1"><a class="h-b-primary  py-1 font-size-14"
                         href="/movies/${output[i].id}">${output[i].name}</a>
                                                        </li>`
                    }
                    s += `<li class="py-1"><a class="h-b-primary  py-1 font-size-14"
                         href="movies">All Movies</a>
                                                        </li>`
                    document.getElementById('movieGenre').innerHTML = s;
                }
            }
            htpx.open('GET', '/getGenres', true)
            htpx.send()
        }

    </script>
    <script src={% static 'assets/vendor/jquery/dist/jquery.min.js' %}></script>
    <script src="{% static 'myjs/reviews.js' %}"></script>
    <script>window.onload = getReviews()</script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        const addToWatclist = (id) => {
            {#alert(id)#}
            var htp = new XMLHttpRequest()
            htp.onreadystatechange = function () {
                if (this.status == 200 && this.readyState == 4) {
                    var output = this.response;
                    console.log(output)
                    if (output === 'success') {
                        {#alert('Movie Added to Your Watchlist')#}
                        Swal.fire({
                            icon: 'success',
                            title: 'Done!',
                            text: 'Movie Added to Watchlist',
                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: output,
                            {#footer: '<a href="">Why do I have this issue?</a>'#}
                        })
                    }
                }
            }
            htp.open('GET', '/addWatchlist/' + id, true)
            htp.send();
        }
    </script>
    {#    <script>#}
    {#        $("#reviewForm").submit(function (e) {#}
    {##}
    {#            e.preventDefault(); // avoid to execute the actual submit of the form.#}
    {##}
    {#            var form = $(this);#}
    {#            // var actionUrl = form.attr('action');#}
    {##}
    {#            $.ajax({#}
    {#                type: "POST",#}
    {#                url: '/postReview',#}
    {#                data: form.serialize(), // serializes the form's elements.#}
    {#                success: function (data) {#}
    {#                    document.getElementById('reviewForm').reset();#}
    {#                    $('#reviewModal').modal('hide');#}
    {#                },#}
    {#                error: function (data) {#}
    {#                    alert(data);#}
    {#                }#}
    {#            });#}
    {##}
    {#        });#}
    {##}
    {#    </script>#}

{% endblock %}

